[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Dhruvjetani
	email = 125240696+Dhruvjetani@users.noreply.github.com
